* {
    background-color: #2C2B30;
}

header {
    height: 100px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    color: #D6D6D6;
}
@keyframes example {
    0%   {color: #D6D6D6;}
    25%  {color: #F2C4CE;} 
    50%  {color: #4F4F51;}
    100% {color: #D6D6D6;}
  }
@keyframes example-2 {
    0%   {top: 10%;}
    100% {top: 80%;}
    
}
.maincontainer {
    position: relative;
    text-align: center;
    color: #F58F7C;
    font-size: xx-large;
  
    margin: 1rem;
    padding: 2rem 2rem;
    width: 1200px;
    height: 500px;
  
  }
  .centered {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-style: oblique;

}

.category-container {
    display:inline-block;
    padding: 0.5rem 0.5rem;
    vertical-align:middle;
    width: 370px;
    height: 450px;
    

}
#user{

    display: flex;
    justify-content: flex-start;

}
#review {
    display: flex;
    justify-content: flex-start;
    text-align:center;
    width: 380px;
    height: 100px;

}
#add{
    display: flex;
    justify-content: flex-end;
}
.review-card{
    border:#D6D6D6 dotted 1px;
    border-radius: 7%;
    background-color:#2C2B30;
    font-weight:100;
    width: 350px;
    height: 100px;
}
.olduser{
    color: #D6D6D6;
    background-color: #2C2B30;

    display: flex;
    justify-content: flex-start;
}
.oldreview{
    color: #D6D6D6;
    background-color: #2C2B30;
    display: flex;
    justify-content: flex-start;
}
#olddelete{
    color: #D6D6D6;
    background-color: #2C2B30;
    display: flex;
    justify-content:flex-end;
    text-align:right;

}

#bronzer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.bronzer-card {
    background-color:#F2C4CE;
    
    width: 300px;
    margin: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.bronzer-cover-image{
    background-color: white;
    width: 300px; 
    height: 300px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.category{
    background-color: #2C2B30;
    color:#F58F7C ;
    font-size: 18px;
    margin: 5px 0;
}
.brand{
    background-color: #2C2B30;
    color:#F58F7C ;
    font-size: 18px;
    margin: 5px 0;
}
.name{
    background-color: #2C2B30;
    color:#F58F7C ;
    font-size: 18px;
    margin: 5px 0;
}
.color{
    background-color: #2C2B30;
    color:#F58F7C ;
    font-size: 18px;
    margin: 5px 0;
}

#concealer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.concealer-card {
    background-color: #F2C4CE;
    width: 300px;
    margin: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.concelear-cover-image{
    background-color: white;
    width: 300px; 
    height: 300px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
#lipgloss-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.lipgloss-card {
    background-color: #F2C4CE;
    width: 300px;
    margin: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.lipgloss-cover-image{
    /* background-color: #FDF5BF; */
    width: 300px; 
    height: 300px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
