* {
    background-color:rgb(249, 234, 255) ;
}

header {
    background-image:url(https://www.si.edu/sites/default/files/styles/social_media/public/blog/crab_nebula.jpg?itok=l-fZ5PRC);
    height: 100px; 
    display: flex; 
    justify-content:space-around; 
    align-items:start;
    color: #D6D6D6;

}
h1{
    display: flex;
    align-items: center;
}

@keyframes example {

    0%  {color: #F2C4CE;} 
    100%  {color: #D6D6D6;}
  }
@keyframes example-2 {
    0%   {top: 15%;}
    100% {top: 40%;}
    
}
.maincontainer {
    display: flex;
    justify-content: space-between;
    color: #F58F7C;
    font-size: xx-large;
    margin: 1rem;
    padding: 2rem 2rem;
    width: 1200px;
    height: 500px;
    position: relative;
  
  }
  .centered {
    position: absolute;
    transform: translate(-50%, -50%);
    font-style: oblique;
}
.bottom{
    position: absolute;
    bottom: 100px;
    left: 65px;

}
.category-container {
    display:inline-block;
    padding: 0.5rem 0.5rem;
    vertical-align:middle;
    width: 500px;
    height: 500px;
    border-color: #D6D6D6;
    justify-content: center;
    align-items:center ;
    

}
#user{

    display: flex;
    justify-content: flex-start;

}
#review {
    display: flex;
    justify-content: flex-start;
    text-align:center;
    width: 380px;
    height: 100px;

}
#add{
    display: flex;
    justify-content: flex-end;
}
.review-card{
    border:#D6D6D6 dotted 1px;
    background-image:url(https://www.si.edu/sites/default/files/styles/social_media/public/blog/crab_nebula.jpg?itok=l-fZ5PRC);
    width: 600px;
    height: 140px;
    right: 5%;
    display: flex;
    flex-direction: column;

}
.olduser{
    color: #eedcc8;
    background-color: #2C2B30;
    justify-items: center;
    align-items: center;
}
.oldreview{
    color:#eedcc8;
    justify-items: center;
    align-items: center;
}
#olddelete{
    color:#eedcc8;
    font-size: small;
    display: flex;
    width: fit-content;

}

#bronzer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.bronzer-card {
    background-image:url(https://www.si.edu/sites/default/files/styles/social_media/public/blog/crab_nebula.jpg?itok=l-fZ5PRC);
    width: 300px;
    margin: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.bronzer-cover-image{
    background-color:#f3eeee;
    width: 300px; 
    height: 300px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.category{
    background-image:url(https://www.si.edu/sites/default/files/styles/social_media/public/blog/crab_nebula.jpg?itok=l-fZ5PRC);
    color:#D6D6D6 ;
    font-size: 18px;
    margin: 5px 0;
}
.brand{
    background-image:url(https://www.si.edu/sites/default/files/styles/social_media/public/blog/crab_nebula.jpg?itok=l-fZ5PRC);
    color:#D6D6D6 ;
    font-size: 18px;
    margin: 5px 0;
}
.name{
    background-image:url(https://www.si.edu/sites/default/files/styles/social_media/public/blog/crab_nebula.jpg?itok=l-fZ5PRC);
    color:#D6D6D6 ;
    font-size: 18px;
    margin: 5px 0;
}
.color{
    background-image:url(https://www.si.edu/sites/default/files/styles/social_media/public/blog/crab_nebula.jpg?itok=l-fZ5PRC);
    color:#D6D6D6 ;
    font-size: 18px;
    margin: 5px 0;
}

#concealer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.concealer-card {
    background-image:url(https://www.si.edu/sites/default/files/styles/social_media/public/blog/crab_nebula.jpg?itok=l-fZ5PRC);
    width: 300px;
    margin: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.concelear-cover-image{
    background-color: white;
    width: 300px; 
    height: 300px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
#lipgloss-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.lipgloss-card {
    background-image:url(https://www.si.edu/sites/default/files/styles/social_media/public/blog/crab_nebula.jpg?itok=l-fZ5PRC);
    width: 300px;
    margin: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.lipgloss-cover-image{
    background-color: #FDF5BF;
    width: 300px; 
    height: 300px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

